@import "root";

.jk-dollar::before{ content: "\0024"; }
.jk-cent::before{ content: "\00A2"; }
.jk-pound::before{ content: "\00A3"; }
.jk-currency::before{ content: "\00A4"; }
.jk-yen::before{ content: "\00A5"; }




