@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap");

:root{
    --hover-blue :rgb(44, 105, 238);
    --icon-bgc :rgb(238, 238, 238);
    --hover-bgc :rgb(240, 240, 240);
}

.jk{
    background-color: var(--icon-bgc);
    font-size: 30px;
    padding: 30px;
    border: none;
    border-radius: 2px;
    transition: 0.5s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
}
.jk:hover{
    background-color: var(--hover-bgc);
    color: var(--hover-blue);
    cursor: pointer;
    box-shadow: 5px 10px 8px 10px #888888;
}