@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap");
:root {
  --jk-purple: #A020F0;
  --jk-navheight: 30vh;
  --jk-site-font: "Roboto", sans-serif;
  --jk-mfont-color: white;
  --title-font: 50px;
  --title-font-family: "Kanit", sans-serif;
  --normal-title: 30px;
  --border-bottom: 1px solid rgb(190, 190, 190);
  --othernav-height: 20vh;
  --shadow-color: black;
  --button-text: 20px;
  --transition-speed: 0.5s;
  --hover-color: #7f17c0;
  --file-font: red;
  --file-backcolor: rgb(218, 218, 218);
  --code-backcolor: rgb(218, 218, 218);
  --code-blue: rgb(0, 47, 255);
  --code-lightblue: rgb(15, 131, 240);
  --code-red: rgb(151, 26, 26);
  --normal-code: black;
  --comment-code: grey;
  --title-margin: 20px;
}

.navbar {
  background-color: var(--jk-purple);
  height: var(--jk-navheight);
  padding: 50px 0 0 0;
  text-align: center;
  font-family: var(--jk-site-font);
  color: var(--jk-mfont-color);
}

.navbar .logo {
  font-size: var(--title-font);
  font-family: var(--title-font-family);
}

.navbar .quote {
  padding-bottom: 40px;
}

.nav-hr {
  margin: 10px 0;
  display: none;
}

.footerbar, .footerbar-docs {
  margin-top: 100px;
  font-family: var(--title-font-family);
  background-color: var(--jk-purple);
  padding: 50px 0;
  color: var(--jk-mfont-color);
}

.footer-grid {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 1rem;
  grid-template-areas: "a b c d";
  padding: 45px 0;
  margin-bottom: 5px;
}

.item1 {
  grid-area: a;
}

.item2 {
  grid-area: b;
}

.item3 {
  grid-area: c;
}

.item4 {
  grid-area: d;
}

.title {
  font-size: var(--normal-title);
  padding-bottom: 20px;
}

.footer-logo {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.fooer-a {
  color: var(--jk-mfont-color);
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

.site-container {
  padding: 0 15%;
  font-family: var(--title-font-family);
}